<div class="toolbar-container" >

  <mat-toolbar color="primary">
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
    >
      <mat-icon *ngIf="drawer.opened === false" aria-label="Side nav toggle icon">menu_open</mat-icon>
      <mat-icon *ngIf="drawer.opened === true" aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>Ingenium</span>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>

    <div>{{profile.nom}} {{profile.prenom}} ({{profile.classe}})</div>
    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport fixedTopGap="64"
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="(isHandset$ | async) === false">

      <mat-nav-list>
        <a mat-list-item
           routerLink="/dashboard"
           [routerLinkActive]="['active']"
        >
          <mat-icon matListIcon>dashboard</mat-icon>
          Dashboard
        </a>

        <h2 matSubheader>Services</h2>
        <a mat-list-item
           routerLink="/database/list"
           [routerLinkActive]="['active']"
        >
          <mat-icon matListIcon>storage</mat-icon>
          Base de données
        </a>
        <a mat-list-item
           routerLink="/webstorage"
           [routerLinkActive]="['active']"
        >
          <mat-icon matListIcon>language</mat-icon>
          Espace Web
        </a>
        <a *ngIf="profile.bts"
           mat-list-item
           href="https://newsuivippe.montpellier.epsi.fr/"
           [routerLinkActive]="['active']"
           target="_blank" rel="bookmark"
        >
          <mat-icon matListIcon>exit_to_app</mat-icon>
          Suivi BTS
        </a>
        <a mat-list-item
           routerLink="/emprunt/list"
           [routerLinkActive]="['active']"
        >
          <mat-icon matListIcon>shopping_cart</mat-icon>
          Emprunt
        </a>

        <mat-divider></mat-divider>

        <h2 matSubheader>Logiciels</h2>
        <a mat-list-item
           routerLink="/software/microsoft"
           [routerLinkActive]="['active']"
        >
          <fa-icon [icon]="faMicrosoft"></fa-icon>
          Microsoft
        </a>
        <a mat-list-item
           routerLink="/software/intellij"
           [routerLinkActive]="['active']"
        >
          <fa-icon [icon]="faIntellij"></fa-icon>
          Suite Intellij
        </a>
        <a mat-list-item
           routerLink="/software/github"
           [routerLinkActive]="['active']"
        >
          <fa-icon [icon]="faGithub"></fa-icon>
          GitHub
        </a>
        <a mat-list-item
           routerLink="/software/vmware"
           [routerLinkActive]="['active']"
        >
          <fa-icon [icon]="faVMware"></fa-icon>
          VMware
        </a>
        <mat-divider></mat-divider>

        <h2 matSubheader>Resources</h2>
        <a mat-list-item
           routerLink="/resources/printers"
           [routerLinkActive]="['active']"
        >
          <mat-icon matListIcon>print</mat-icon>
          Imprimantes
        </a>
        <a mat-list-item
           routerLink="/resources/support"
           [routerLinkActive]="['active']"
        >
          <mat-icon matListIcon>support_agent</mat-icon>
          Support
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- Content Here -->
      <div class="main_content">
        <ng-content></ng-content>
      </div>

      <mat-divider></mat-divider>
      <div class="footer">
        <p>&copy; EPSI Montpellier - Version 0.1.0</p>
        <p><a href="mailto:admin.reseau@montpellier-epsi.fr" title="Envoyer un email">Envoyer un email à l'administrateur réseau</a></p>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
