<app-navbar>
  <h2>Imprimantes disponibles</h2>
  <mat-divider></mat-divider>

  <div *ngIf="printers.length === 0">
    <h3>Aucune imprimante n'est disponible.</h3>
  </div>

  <div *ngIf="printers.length !== 0">
    <div>
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div *ngFor="let printer of printers">
          <mat-card class="mat-elevation-z4" >
            <mat-card-header>
              <mat-card-title>{{ printer.title }}</mat-card-title>
              <mat-card-subtitle>{{ printer.description }}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
              <div class="stats">
                <div class="leftText" >
                  <img mat-card-image src="/assets/images/printers/{{ printer.model }}.jpeg" alt="Imprimante">
                </div>

                <div class="endText">
                  <h4>{{ printer.fullModel}}</h4>
                  <div class="align-items">
                    <mat-icon aria-hidden="false">location_on</mat-icon>
                    {{ printer.emplacement }}
                  </div>
                  <div class="align-items">
                    <mat-icon aria-hidden="false">exit_to_app</mat-icon>
                    {{ printer.typeacces }}
                  </div>
                </div>
              </div>
            </mat-card-content>

            <mat-card-actions>
              <button mat-stroked-button (click)="showInstallation(printer)">
                <mat-icon aria-label="Installation">download_for_offline</mat-icon>
                Installer l'imprimante
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

  <br />
  <h3>Comment installer les imprimantes ?</h3>
  <ul>
    <li>Si vous êtes en Wifi : choisissez l'option Impression via le Wifi <mat-icon>wifi</mat-icon> <strong>(option recommandée)</strong></li>
    <li>Si vous êtes en filaire : choisissez l'option Impression en filaire <mat-icon>settings_ethernet</mat-icon> </li>
    <li>Si vous êtes fan du Bureau Virtuel : choisissez l'option Impression avec le Bureau Virtuel <mat-icon>web</mat-icon></li>
  </ul>
</app-navbar>
