<app-navbar>
  <div class="mat-elevation-z8">

    <h1>Mes emprunts</h1>

    <button mat-raised-button color="primary"
            (click)="ajouterEmprunt()">
      Faire un emprunt
    </button> <br /><br />

    <table mat-table [dataSource]="dataSource">

      <!-- Statut de l'emprunt Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element" >
          <mat-chip-list>
            <mat-chip *ngIf="element.jours < 0" color="warn" selected> {{ (element.jours*-1) }} jours de retard </mat-chip>
            <mat-chip *ngIf="element.jours == 0" color="primary" selected> Aujourd'hui {{element.status==0 ? "(retiré)" : "" }}</mat-chip>
            <mat-chip *ngIf="element.jours > 0"> A venir </mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <!-- Type de l'emprunt Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <!-- Marque Column -->
      <ng-container matColumnDef="marque">
        <th mat-header-cell *matHeaderCellDef> Marque </th>
        <td mat-cell *matCellDef="let element"> {{element.marque}} </td>
      </ng-container>

      <!-- Modele Column -->
      <ng-container matColumnDef="modele">
        <th mat-header-cell *matHeaderCellDef> Modele </th>
        <td mat-cell *matCellDef="let element"> {{element.modele}} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <!-- Date de début de l'emprunt Column -->
      <ng-container matColumnDef="datedebut">
        <th mat-header-cell *matHeaderCellDef> Date de début </th>
        <td mat-cell *matCellDef="let element"> {{element.datedebut | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <!-- Date de fin de l'emprunt Column -->
      <ng-container matColumnDef="datefin">
        <th mat-header-cell *matHeaderCellDef> Date de fin </th>
        <td mat-cell *matCellDef="let element"> {{element.datefin | date: "dd/MM/yyyy"}} </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element">
          <i>
            <button mat-icon-button matTooltip="Détails" color="primary"
                    (click)="details(element.id)"
            >
              <mat-icon aria-label="Détails">edit</mat-icon>
            </button>

            <button *ngIf="element.status > 0" mat-icon-button matTooltip="Annuler l'emprunt" color="warn"
                    (click)="supprimerEmprunt(element.id)"
            >
              <mat-icon aria-label="Supprimer">delete_forever</mat-icon>
            </button>
          </i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>

</app-navbar>
