.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}




.clickable {
  cursor: pointer;
}
.clickable:hover {
  elevation: higher;
}

.selected {
  background: #ccd4e0;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 25%;
  margin: 10px 10px 10px 10px;
}
