.mat-card {
  width: 260px;
  margin: 8px;
}

.mat-card-actions {
  display: grid;
  margin-left: 8px;
}
/*
.dashboard-content {
  display: flex;
  align-items: center;
}
.dashboard-content > * {
  flex: 1 1 0;
}*/

.dashboard-left {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.dashboard-right {
  text-align: end;
}

.font-x-large {
  font-size: xx-large;
}
.font-large-20 {
  font-size: 20px;
}

.font-grey {
  color: #66788A;
  font-weight: bold;
}

.dashboard-database {
  color: rgb(0, 122, 206);
}
.dashboard-webstorage {
  color: rgb(217, 83, 79);
}
.dashboard-database {
  color: rgb(0, 122, 206);
}
