
.mat-list-base .mat-list-item .mat-list-avatar {
  width: 80px;
  height: auto;
  border-radius: unset;
}
/*
.mat-list-base .mat-list-item  {
  border-left: 4px solid white;
  border-radius: 4px;
  padding-left: 4px;
  margin: 8px;
  color: #66788A;
}
.mat-list-base .mat-list-item:hover{
  border-left: 4px solid #0767DB;
  border-radius: 4px;
  background-color: #ECEAE8;
}

.mat-list-base .mat-list-item .mat-list-item-text  {
  padding-left: 100px;
}
*/
