<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content class="mat-typography">
  <div [innerHTML]="data.message"></div>
</mat-dialog-content>
<br />

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Annuler</button>
  <div fxFlex></div>
  <button mat-raised-button
          color="{{ data.buttonStyle }}"
          [mat-dialog-close]="true">
    <mat-icon>{{ data.buttonIconName}}</mat-icon>
    {{ data.buttonTitle }}
  </button>
</div>

