
.mat-table {
  width: 100%;
}

.mat-card {
  width: 300px;
  height: 190px;
}

/*
Column width
*/
.mat-column-icone {
  width: 120px;
}
.mat-column-nomDns {
  width: 220px;
}
.mat-column-nom {
  width: 160px;
}
.mat-column-action {
  width: 85px;
}

