<app-navbar>

  <app-alert *ngIf="errorMessage.length>0" [type]="'danger'">{{ errorMessage }}</app-alert>

  <h2>Mes comptes</h2>

  <section class="align-items" *ngIf="isLoadingAccounts">
    <mat-spinner diameter="25" ></mat-spinner>
    <span>Chargement en cours ...</span>
  </section>

  <div *ngIf="!isLoadingAccounts && accounts.length===0">
    <h3>Aucun compte n'est disponible</h3>
  </div>

  <div>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div *ngFor="let account of accounts">
        <app-account-card
          [account]="account"
          (addAccount)="onAddAccount($event)"
          (modifyPasswordAccount)="onModifyPasswordAccount($event)"
          (deleteAccount)="onDeleteAccount($event)"
        ></app-account-card>

      </div>
    </div>
  </div>
  <br />

  <h2>Mes bases de données</h2>

  <section class="align-items" *ngIf="isLoadingDatabases">
    <mat-spinner diameter="25" ></mat-spinner>
    <span>Chargement en cours ...</span>
  </section>

  <button *ngIf="! isLoadingDatabases"
          mat-raised-button color="primary"
          (click)="createDatabase()"
  >
    <mat-icon>add</mat-icon>
    Nouvelle base de données
  </button>

  <table *ngIf="! isLoadingDatabases"
    mat-table [dataSource]="dataSource"
  >
    <!-- Icône serveur Column -->
    <ng-container matColumnDef="icone" >
      <th mat-header-cell *matHeaderCellDef >  </th>
      <td mat-cell *matCellDef="let element">
        <img height="50px" src="assets/images/database/{{ element.server.code.toLowerCase() }}.png"
             alt="Base de données" />
      </td>
    </ng-container>
    <!-- Nom serveur Column -->
    <ng-container matColumnDef="nomDns" >
      <th mat-header-cell *matHeaderCellDef > Serveur </th>
      <td mat-cell *matCellDef="let element"> {{element.server.nomDns}} </td>
    </ng-container>
    >
    <!-- Nom base de données Column -->
    <ng-container matColumnDef="nomBd" >
      <th mat-header-cell *matHeaderCellDef > Nom </th>
      <td mat-cell *matCellDef="let element"><b>{{element.nomBd}}</b></td>
    </ng-container>
    >
    <!-- Description Column -->
    <ng-container matColumnDef="commentaire" >
      <th mat-header-cell *matHeaderCellDef > Description </th>
      <td mat-cell *matCellDef="let element"> {{element.commentaire}} </td>
    </ng-container>
    >
    <!-- Contributeurs Column -->
    <ng-container matColumnDef="contributors" >
      <th mat-header-cell *matHeaderCellDef > Contributeurs </th>
      <td mat-cell *matCellDef="let element">
        <app-database-permission [contributors]="element.users"></app-database-permission>
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element">
        <i>
          <button *ngIf="element.canBeUpdated" mat-icon-button matTooltip="Editer la base de données" color="primary"
                  (click)="edit(element.id)"
          >
            <mat-icon aria-label="Editer">edit</mat-icon>
          </button>

          <button *ngIf="element.canBeDeleted" mat-icon-button matTooltip="Supprimer la base de données" color="warn"
                  (click)="delete(element)"
          >
            <mat-icon aria-label="Supprimer">delete_forever</mat-icon>
          </button>
        </i>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</app-navbar>
